{% extends "base.html" %}
{% block title %}Projects - My Portfolio{% endblock %}
{% block content %}

<section class="section">
    <h2>My Projects</h2>
    <p>Here are some of the projects I’ve worked on:</p>

    <div class="projects-grid">
        <div class="project-card">
            <h3>Flask Portfolio</h3>
            <p>A personal portfolio website built using Flask and HTML/CSS.</p>
        </div>

        <div class="project-card">
            <h3>Python Calculator</h3>
            <p>A simple Python calculator app.</p>
        </div>

        <div class="project-card">
            <h3>PHP AND SQL DB</h3>
            <p>Using Xampp app wh created basic sql db.</p>
        </div>
    </div>
</section>

{% endblock %}
